/* Error: expected "{".
 *    ,
 * 61 | >>>>>>> 3718daa39da77d65f7f4b59fa22a41e223659128
 *    |                                                 ^
 *    '
 *   sass\components\_button.scss 61:49  @import
 *   sass\main.scss 8:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 61 \2502  >>>>>>> 3718daa39da77d65f7f4b59fa22a41e223659128\d\a    \2502                                                  ^\a    \2575 \a   sass\\components\\_button.scss 61:49  @import\a   sass\\main.scss 8:9                  root stylesheet';
}
