
.event__content > .btn-signup {        
    margin: 35% 0 0 0;
    padding: 12px 35px;
}

.event > .btn-signup {
    display: none;
}

.btn-signup {
  background:$color-btn-primary;
  display: block;
  margin: 0 auto;
  border-radius: $default-size*0.44;
  font-size: $default-size*1.2;
  //padding: 12px 82px;
  color: $color-font-event;
  cursor: pointer;
  border: 0; 
  text-transform: capitalize;
}

.modal-btn {        
    font-size: $default-size*1.2;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
        &:hover {
            background:$color-btn-secondary; 
        }
    }


.subButton {
    width: $default-size*12;
    background:$color-btn-primary;
    margin-top: $default-size;
    padding: $default-size*0.7;
    color: $color-font-event;
    border-radius: $default-size*0.9;
    cursor: pointer;
    font-size: $default-size;
    &:hover {
        background:$color-btn-secondary; 
    }
}

