
.frmSignUp {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:$color-bg-form;
    @media screen and (max-width: map-get($breakpoints, mobile )) {
      top: $default-size*3.5;
    }
    @media screen and (max-width: map-get($breakpoints, tablet )) {
      top: $default-size*6;
    }
    &__content {
      margin: 5% auto;
      width: 100%;
      max-width: $max-width-form;
      animation-name: formOpen $modal-duration;
      background: $color-bg-event;
      border-radius: $default-size*0.63;
      overflow: hidden;
      position: relative;
      color: $color-font-event;
      padding-top: $default-size*0.7;
    }
    &__body {    
      padding: $default-size*0.9 7%;
      margin: $default-size*0.9 auto;
    }
}

.close {
  position: absolute;
  right: $default-size*0.9;
  top: $default-size*0.9;
  width: $default-size*2;
  height: $default-size*2;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  &:before, &:after {
    position: absolute;
    left: $default-size*0.9;
    content: " ";
    height: $default-size*2;
    width: $default-size*0.2;    
    background-color:$color-bg-light;
  }
}

.close:before {  
  transform: rotate(45deg);
}
.close:after, .close:active {
  transform: rotate(-45deg); 
  transition: all 450ms; 
}

label {
    font-size: $default-size*0.9;
    font-weight: normal;
    display: inline-block;
    margin-bottom: $default-size*0.5;
}

.text-label {
  @extend label;  
  margin-bottom: $default-size*0.1;
}

input {
  padding: $default-size*0.3;
  border: $default-size*0.06 solid $color-border-input;
  outline: none;
  font-size: $default-size;
  border-radius: $default-size*0.5;
  width: 100%;  height: $default-size*2.9;
  margin-bottom: $default-size*0.3;
}

.checkbox-input{
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.bChecks {
  margin-top: $default-size*0.5;
}

.frmEnd {
  display: flex;
  justify-content: center;
}

.b-congrats {
  @extend .frmSignUp;
  text-align: center;
  &__content {
    @extend .frmSignUp__content;
    padding: $default-size*10 $default-size*4;
    font-size: $default-size*2.3;
    font-weight: normal;
  }
}

/* Erreurs */

.error {
  font-size: $default-size*0.8;  
  color: $color-error;
  margin-bottom: $default-size*0.4;
  //line-height: $default-size*0.25; 
}

.field--error {
  border: $default-size*0.18 solid $color-error;
}



@media screen and (max-width: map-get($breakpoints, mobile )) {
  
  .frmSignUp {
    top: $default-size*3.5;
  }
}