$color-font: #000000;
$color-font-link : #FFFFFF;
$color-bg-red: #FF0000;
$color-bg-event: #232323;
$color-bg-light: #FFFFFF;
$color-font-event: #FFFFFF;
$color-btn-primary: #fe142f;
$color-btn-secondary:#3876ac;
$color-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
$color-bg-form:  rgba(26, 39, 156, 0.4);
$color-border-input: #ccc;
$color-link-underline: #FFFFFF;
$color-hamburger: #FF0000;
$color-error: #e54858;
$color-checked: #279e7a;

$default-size: 1rem;        // 16px

$breakpoints: (
    min-mobile:300px,
    mobile: 432px,
    tablet: 1024px,
    desktop: 1025px
);
$max-width: 1300px;
//$min-width-event: map-get($breakpoints, min-mobile);
$max-width-form: 500px;


$nav-duration: 1500ms;
$modal-duration: 0.8s;
